<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <title>CS4241 Assignment 4</title>
  </head>
  <body>
    <h1 class = "invisible">
      .
    </h1>
    <div class="container-fluid">
      <div class="text-center mb-3">
        <h1>Choose Difficulty</h1>
      </div>
    </div>
    <form action = "/easy" method = "GET">
      <div class = "text-center mb-4">
        <button class = "btn btn-success" type = "submit">Easy</button>
      </div>
    </form>
    <form action = "/medium" method = "GET">
      <div class = "text-center mb-4">
        <button class = "btn btn-warning" type = "submit">Medium</button>
      </div>
    </form>
    <form action = "/hard" method = "GET">
      <div class = "text-center">
        <button class = "btn btn-danger" type = "submit" >Hard</button>
      </div>
    </form>
  </body>
</html>
