    <div id="controller">
        <div class="description">
            <div>
                <button id="show">Show Description</button>
            </div>
            <div>
                <button id="particle">Particles</button>
                <button id="audio">Audio Waveform</button>
            </div>
        </div>
    </div>
    <div id="documentation">
        <div class="description">
            <div>
                <button id="close">Close</button>
            </div>
        </div>
    </div>