<div id="controller">
    <div class="description">
        <div>
            <button id="show">Show Description</button>
        </div>
        <div>
            <button id="home">Home</button>
        </div>
    </div>
</div>
<div id="documentation">
    <div class="description">
        <p>
            This page shows a particle system using Three.js in the form of a sinusoidal wave. The parameters that you
            can control are the wave's
            amplitude, frequency, displacement, horizontal speed of each particle, and the camera rotation speed. In
            math form, the equation to describe
            the wave is y = a * sin(x/f + d), where a is amplitude, f is the frequency, d is the displacement, and x is
            the horizontal position of each
            particle.
        </p>
        <div>
            <button id="close">Close</button>
        </div>
    </div>
</div>