
#game_area {
  padding-left: 25%;
  padding-right: 25%;
}


body {
  margin: 0;
  font-family: "Courier Prime", monospace;
}

header {
  text-align: center;
}

main {
  display: grid;
}

main .column {
  margin-left: 50px;
  margin-right: 50px;
  max-width: fit-content;
  text-align: center;
}

form:not(#logout) {
  border: 1px black solid;
  max-width: fit-content;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  display: inline-block;
}

.grid-container {
  display: grid;
  max-width: fit-content;
  text-align: center;
}

.grid-item {
  padding: 10px;
}

.grid-item label :not(fieldset) {
  padding-right: 5px;
}

.grid-row {
  display: grid;
  text-align: center;
}

.center {
  top: 50%;
  left: 50%;
  padding: 10px;
}

.grid-item .right {
  float: right;
  padding-left: 10px;
}

.grid-item .left {
  float: left;
  padding-left: 10px;
}

#leftContent {
  grid-column: 1 / 2;
}

#middleContent {
  grid-column: 2 / 3;
}

#rightContent {
  grid-column: 3 / 3;
}

.classForm {
  margin-bottom: 50px;
}

td {
  padding: 30px;
}

tr:nth-child(odd) {
  background-color: #9da6e5;
}
tr:nth-child(even) {
  background-color: rgb(102, 125, 216);
}

fieldset label {
  padding-left: 15px;
}

.warning {
  color: #9d3249;
}

.classDisplay h2 {
  font-size: larger;
}

.classDisplay .bigger {
  font-size: large;
}

.classHeader {
  padding: 10px
}

#singleClassDisplay {
  border: 1px solid black;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#userinfo {
  float: right;
  margin-right: 20px;
}

/* Schedule Display */

#dataView {
  margin: 0 auto;
  margin-bottom: 50px;
}

#dataView th {
  padding: 5px 5px 10px 10px;
}

#dataView, #dataView th, #dataView td {
  border: black solid 1px;
}

.login .grid-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.login button {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

input.checkbox {
  width: 48px;
  height: 48px;
}

