body {
    margin:0;

}

canvas {
    border: 2px solid blue;
    background: black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1, p {
    text-align: center;
}