<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 4</title>
    <meta charset = "utf-8">
    <meta name = "description" content = "Sepultura Lookaway audio visualizer">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Sepultura Lookaway Audio Visualizer</h1>
    </header>
    <main>
        <div>
            <div>
                <div>
                    <h2>Activate Sepultura Lookaway Audio Visualizer</h2>
                    <button id = "activateVisualizer">Activate Visualizer</button>
                    <div id = "musicIsPlaying"></div>
                    <div id = "visualization"></div>
                </div>
            </div>
            <div>
                <div>
                    <h2>Visualization Appearance Control Parameters</h2>
                    <div>
                        <p>The following fields should be used to change the fill color of the visualization rectangle drawings using the RGB scale:</p>
                        <form>
                            <label for = "R">Red (between 0 and 255):</label>
                            <input type = "range" id = "RFill" name = "redFill" min = "0" max = "255">
                            <label for = "G">Green (between 0 and 255):</label>
                            <input type = "range" id = "GFill" name = "greenFill" min = "0" max = "255">
                            <label for = "B">Blue (between 0 and 255):</label>
                            <input type = "range" id = "BFill" name = "blueFill" min = "0" max = "255">
                            <button id = "colorFillSubmit">Submit Color Fill Adjustment</button>
                        </form>
                    </div>
                    <div>
                        <p>The following fields should be used to change the stroke color of the visualization rectangle drawings using the RGB scale:</p>
                        <form>
                            <label for = "R">Red (between 0 and 255):</label>
                            <input type = "range" id = "RStroke" name = "redStroke" min = "0" max = "255">
                            <label for = "G">Green (between 0 and 255):</label>
                            <input type = "range" id = "GStroke" name = "greenStroke" min = "0" max = "255">
                            <label for = "B">Blue (between 0 and 255):</label>
                            <input type = "range" id = "BStroke" name = "blueStroke" min = "0" max = "255">
                            <button id = "colorStrokeSubmit">Submit Color Stroke Adjustment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
      <footer>
        <div>
           Sepultura Lookaway Audio Visualizer created by Matthew McAlarney
        </div>
      </footer>
  </body>
  <script src = "/audio_file_visualizer.js"></script>
</html>